{% extends "base.html" %}

{% block title %}
About | SarvaHConn
{% endblock %}

{% block content %}

<div class="container py-5">

    <span class="section-label">
        ABOUT SARVAHCONN
    </span>

    <h1 class="fw-bold mt-2">
        One Platform. Connected Governance.
    </h1>

    <p class="lead text-muted mt-3">
        SarvaHConn is an interoperability middleware prototype
        designed for SIH26129.
    </p>

    <div class="info-panel mt-5">

        <h4>
            Built to connect, not replace.
        </h4>

        <p>
            SarvaHConn connects independent government systems
            through APIs, adapters, consent management, common
            data standards and workflow orchestration.
        </p>

    </div>

</div>

{% endblock %}